
#client-newjob-content {
	.my-gray {
		background-color: #ebebeb;
	}
	section {
		padding: 40px 0px;
	}
	.btn {
		margin-top: 0px;
	}
	.checkbox label input {
		opacity: 1;
	}
	.m-b-15 {
		margin-bottom: 15px;
	}
	.radio-inline {
		padding-left: 0px;
	}
	.no-padding {
		padding-left: 0px;
		padding-right: 0px;
	}
}